{{define "content"}}

<div class="card shadow-sm mt-4">
  <div class="card-body">
    <h1 class="h4 text-center">欢迎来到实验室公钥管理系统</h1>
    <p class="mt-4">
      这个系统由 Keycloak 管理用户身份，旨在为实验室的所有成员提供一个简便的方式来管理他们的公钥。
      系统会自动将你上传的公钥与数据库中的记录进行匹配，并通过 SSHPiper 代理让你可以通过公钥认证登录实验室中的服务器。
    </p>
    <p>
      公钥管理对于保证安全登录至关重要，每个用户都可以通过本系统上传和管理自己的公钥，并确保 SSH 登陆权限的准确性。
      请务必确保你上传的公钥是正确且最新的，以避免登录失败。
    </p>

    <div class="text-center mt-4">
      <a href="/account" class="btn btn-primary btn-lg">管理我的公钥</a>
    </div>
  </div>
</div>
{{ end }}
