{{define "content"}}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%">
    <h1 class="h3 mb-3 text-center">登录</h1>
    <div class="d-grid">
      <a href="{{ .authCodeURL }}" class="btn btn-primary btn-lg">{{ .ssoLabel }}</a>
    </div>
  </div>
</div>
{{ end }}
