<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/assets/favicon.svg" />
    <link rel="stylesheet" href="/static/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/static/assets/asciinema-player.css" />
    <style>
      .dark-mode-dropdown .dropdown-menu {
        padding: 0.5rem;
        --bs-dropdown-min-width: 128px;
      }
      .dark-mode-dropdown .dropdown-menu .dropdown-item {
        border-radius: 0.25rem;
        font-weight: 600;
        font-size: 14px;
      }
      .dark-mode-dropdown .dropdown-menu li + li {
        margin-top: 0.125rem;
      }
      #darkModeToggle:active,
      #userButton:active {
        color: inherit;
      }
      main {
        min-height: calc(100vh - 75px - 57px);
      }
      .key {
        transform: rotate(135deg);
      }
      footer {
        font-size: 14px;
      }
      .divider {
        height: 1.8rem;
        margin: 0 1rem;
      }
      .target-list {
        max-width: 500px;
        margin: 0 auto;
      }
      .key-text {
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .copy-btn {
        --bs-btn-color: #a7a7a7;
        --bs-btn-hover-color: #ffffff;
        --bs-btn-active-color: #ffffff;
      }
    </style>
    <title>SSHMUX</title>
  </head>
  <body data-bs-theme="{{.theme}}">
    <nav class="navbar navbar-expand-lg border-bottom shadow-sm sticky-top bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">SSHMUX</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {{ if eq .currentUrl "/" }} active{{end}}" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ if eq .currentUrl "/account" }} active{{end}}" href="/account">Account</a>
            </li>
            {{if and .user .user.IsAdmin }}
            <li class="nav-item">
              <a class="nav-link {{ if eq .currentUrl "/admin" }} active{{end}}" href="/admin">Admin</a>
            </li>
            {{
              end
            }}
          </ul>
          {{ if .user }}
          <div class="nav-item dropdown">
            <button class="btn btn-link nav-link dropdown-toggle" id="userButton" data-bs-toggle="dropdown">
              {{.user.Username}}
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <a href="/username" class="dropdown-item">
                  <i class="bi bi-pencil-square me-2"></i>
                  Username
                </a>
              </li>
              <li>
                <a href="/logout" class="dropdown-item">
                  <i class="bi bi-door-closed-fill me-2"></i>
                  Logout
                </a>
              </li>
            </ul>
          </div>
          <div class="divider border-end d-none d-md-none d-lg-block"></div>
          {{ end }}
          <div class="nav-item dropdown dark-mode-dropdown">
            {{$darkClass := ""}}
            {{$lightClass := ""}}
            <button class="btn btn-link nav-link dropdown-toggle mt-lg-0 mt-2" id="darkModeToggle" data-bs-toggle="dropdown">
              {{ if eq .theme "dark" }}
              {{ $darkClass = "dropdown-item active" }}
              {{ $lightClass = "dropdown-item" }}
              <i class="bi bi-brightness-high-fill"></i>
              {{ else }}
              {{ $darkClass = "dropdown-item" }}
              {{ $lightClass = "dropdown-item active" }}
              <i class="bi bi-moon-stars-fill"></i>
              {{ end }}
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <button id="darkButton" class="{{ $darkClass }}">
                  <i class="me-2 bi bi-brightness-high-fill"></i>
                  Dark
                </button>
              </li>
              <li>
                <button id="lightButton" class="{{ $lightClass }}">
                  <i class="me-2 bi bi-moon-stars-fill"></i>
                  Light
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main class="container pt-4 pb-4">
      {{template "content" .}}
    </main>
    <footer class="py-3 text-center text-secondary border-top">
      <div class="container font-monospace">
        <p class="mb-0">&copy; 2024 SSHMUX. All rights reserved.</p>
        <p class="mb-0">Made by Yachen with ❤️.</p>
      </div>
    </footer>
    <script src="/static/assets/bootstrap.bundle.min.js"></script>
    <script>
      const darkModeToggle = document.getElementById('darkModeToggle');
      const darkButton = document.getElementById('darkButton');
      const lightButton = document.getElementById('lightButton');
      const body = document.body;

      function setTheme(theme) {
        body.setAttribute('data-bs-theme', theme);
        document.cookie = `theme=${theme};path=/;max-age=31536000`;
        if (theme === 'dark') {
          darkModeToggle.innerHTML = '<i class="bi bi-brightness-high-fill"></i> ';
          darkButton.classList.add('active');
          lightButton.classList.remove('active');
        } else {
          darkModeToggle.innerHTML = '<i class="bi bi-moon-stars-fill"></i> ';
          darkButton.classList.remove('active');
          lightButton.classList.add('active');
        }
      }

      darkButton.addEventListener('click', () => {
        setTheme('dark');
      });

      lightButton.addEventListener('click', () => {
        setTheme('light');
      });
    </script>
  </body>
</html>
