{{ define "content"}}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Edit Username</h3>
      </div>
      <form action="/username" method="post">
        <div class="card-body">
          <p class="alert alert-secondary mb-3">
            The username is used by SSH connections. It must be unique.
            <br />
            <strong>If you change the username, you should use the new username to connect to the server.</strong>
          </p>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" name="username" value="{{.user.Username}}" />
            <label for="username" class="form-label">Username</label>
          </div>
          {{ range.errors }}
          <div class="alert alert-danger mt-3" role="alert">{{.}}</div>
          {{ end }}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary me-2">OK</button>
          <a href="/account" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
